{% for dict_item in variables %}

resource "mso_schema_template_bd" "{{ dict_item['schema_template_bd'] }}" {
  schema_id              = mso_schema.{{ dict_item['schema'] }}.id
{% if 'mso_schema_template' in dict_item['type'] %}
  template_name          = mso_schema_template.{{ dict_item['template'] }}.name
{% else %}
  template_name          = mso_schema.{{ dict_item['template'] }}.template_name
{% endif %}
{% if dict_item['diffent_schema_vrf_bd'] is sameas true  %}
  vrf_template_name      = mso_schema.{{ dict_item['schema'] }}.template_name
{% endif %}
  name                   = "{{ dict_item['name'] }}"
  display_name           = "{{ dict_item['name'] }}"
  vrf_name               = mso_schema_template_vrf.{{ dict_item['vrf'] }}.name
  layer2_unknown_unicast = "{{ dict_item['layer2_unknown_unicast'] }}"
  layer2_stretch         = {{ dict_item['layer2_stretch'] }}
  intersite_bum_traffic  = {{ dict_item['intersite_bum_traffic'] }}
  optimize_wan_bandwidth = {{ dict_item['optimize_wan_bandwidth'] }}
}

{% endfor %}


