{% for dict_item in variables %}
resource "mso_schema_template_contract_filter" "{{ dict_item['schema_template_contract_filter'] }}" {
  schema_id         = mso_schema.{{ dict_item['schema'] }}.id
{% if 'mso_schema_template' in dict_item['type'] %}
  template_name     = mso_schema_template.{{ dict_item['template'] }}.name
{% else %}
  template_name     = mso_schema.{{ dict_item['template'] }}.template_name
{% endif %}
  contract_name     = mso_schema_template_contract.{{ dict_item['contract'] }}.contract_name
  filter_type       = "bothWay"
  filter_name       = mso_schema_template_filter_entry.{{ dict_item['filter'] }}.name
  directives        = {{ dict_item['directives'] }}
}

{% endfor %}