{% for dict_item in variables %}

resource "mso_schema_template" "{{ dict_item['schema_template'] }}" {
  schema_id    = mso_schema.{{ dict_item['schema'] }}.id
  name         = "{{ dict_item['name'] }}"
  display_name = "{{ dict_item['name'] }}"
  tenant_id    = mso_tenant.{{ dict_item['tenant'] }}.id
}

{% endfor %}

